<div class="admin-location">

  <div class="admin-header">
    <h1><%= @location.name %></h1>

    <div class="admin-actions align-center gap-2 ">
      <%= link_to "Back", admin_locations_path, class: "link-navbar mx-5" %>
      <%= link_to "Edit", edit_admin_location_path(@location), class: "btn btn-secondary" %>
      <%= button_to "Delete",
      admin_location_path(@location),
      method: :delete,
      data: { turbo_confirm: "Are you sure?" },
      class: "btn btn-danger" %>
    </div>
  </div>

  <div class="admin-card">
    <p class="admin-description">
      <%= @location.description %>
    </p>

    <div class="admin-grid">
      <div><strong>City</strong><br><%= @location.city %></div>
      <div><strong>County</strong><br><%= @location.county.name %></div>
      <div><strong>Type</strong><br><%= @location.location_type %></div>
      <div><strong>Capacity</strong><br><%= @location.capacity %></div>
      <div><strong>Price / hour</strong><br>ALL <%= @location.price_per_hour %></div>
      <div><strong>Price / day</strong><br>ALL <%= @location.price_per_day %></div>
      <div>
        <strong>Available</strong><br>
        <span class="<%= @location.available? ? "badge-green" : "badge-red" %>">
          <%= @location.available? ? "Yes" : "No" %>
        </span>
      </div>
      <div>
        <strong>Host</strong><br>
        <%= @location.host_name %>
        <% if @location.host_verified? %>
          ✔️
        <% end %>
      </div>
    </div>
  </div>
  <% images = @location.images.map { |img| url_for(img) } %>
  <% if @location.cover_image.present? %>
    <div class="admin-card">
      <h3>Cover image</h3>
      <%= image_tag @location.cover_image,
        class: "clickable-image admin-image",
        data: {
          action: "click->lightbox#open",
          lightbox_images: [url_for(@location.cover_image)].to_json,
          lightbox_index: 0
        } %>
    </div>
  <% end %>

  <% if @location.images.present? %>
    <div class="admin-card">
      <h3>Gallery</h3>
      <div class="admin-gallery">
        <% @location.images.each_with_index do |image, index| %>
          <%= image_tag image,
            class: "clickable-image admin-image",
            data: {
              action: "click->lightbox#open",
              lightbox_images: images.to_json,
              lightbox_index: index
            } %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
