<div class="user-session-container-signup" data-controller="phone">
  <div class="user-session-form">
    <h2>Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "given-name" } %>

        <%= f.input :last_name,
                    required: true,
                    input_html: { autocomplete: "family-name" } %>

        <%= f.input :phone_number,
                    required: true,
                    as: :tel,
                    input_html: {
                      autocomplete: "tel",
                      class: "form-control audition_application_phone_number",
                      id: "phone"
                    } %>

        <%= f.input :address,
                    required: true,
                    input_html: { autocomplete: "street-address" } %>

        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "btn-navbar" %>
      </div>
    <% end %>

    <div class="d-flex flex-column align-items-start mt-3 ">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
