<turbo-frame id="<%= dom_id(booking) %>">
  <tr>
    <td><%= booking.location.name %></td>
    <td><%= booking.name %></td>
    <td><%= booking.email %></td>
    <td>
      <%= booking.starts_at&.strftime("%d %b %Y") %>
      → <%= booking.ends_at&.strftime("%d %b %Y") %>
    </td>
    <td><%= booking.activity_type %></td>
    <td>
      <span class="
        <%= "badge-yellow" if booking.pending? %>
        <%= "badge-green" if booking.approved? %>
        <%= "badge-red" if booking.rejected? %>">
        <%= booking.status.capitalize %>
      </span>
    </td>
    <td>
      <%= link_to "View", admin_general_booking_path(booking), class: "btn btn-secondary" %>
    </td>
  </tr>
</turbo-frame>
