<div class="explore-layout" data-controller="explore-map" id="turbo_events">
  <!-- LEFT: LIST -->
  <aside class="explore-list">
    <h1>Explore Locations</h1>


    <%= render "filters" %>

    <div class="location-cards">
      <turbo-frame id="locations_list">
        <p><%= @locations.count %> locations found</p>
        <%= render partial: "location_card",
              collection: @locations,
              as: :location %>
      </turbo-frame>
    </div>
  </aside>

  <!-- RIGHT: MAP -->
  <section
    class="explore-map"
    data-controller="map"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-markers-value="<%= json_escape(@markers.to_json) %>"
    data-map-counties-value="<%= json_escape(@county_markers.to_json) %>"
    data-map-target="container"
    <% if @selected_county %>
      data-map-selected-county-value="<%= json_escape({
        lat: @selected_county.latitude,
        lng: @selected_county.longitude
      }.to_json) %>"
    <% end %>>

  </section>
</div>
