<div class="region-show" style="<%= "background-image: url(#{url_for(@county.cover_image)})" if @county.cover_image.attached? %>; background-size: cover; background-position: center;">
  <section class="region-hero">
    <div class="container">
      <div class="hero-content">

        <%= link_to "← Back to Home", root_path, class: "back-link" %>

        <h1><%= @county.name %></h1>
        <p class="tagline">Urban Energy & Contrasts</p>

        <p class="description">
          Albania’s capital blends brutalist communist architecture with vibrant modern life.
          From iconic landmarks to hidden gems, <%= @county.name %> offers unique filming locations.
        </p>
      </div>
    </div>
  </section>
  <hr>
  <section class="locations-section"
  <% unless @locations.any? %>
  style="height: 55dvh;"
  <% end %>
  >
    <div class="section-header-show">
      <% if @locations.any? %>
        <h2>Available Locations</h2>
      <% else %>
        <h2>No Locations Available</h2>
      <% end %>

      <span><%= pluralize(@locations.count, "location") %> in <%= @region %></span>

      <%= link_to "View on Map", regions_path(county: @county.slug), class: "map-btn" %>
    </div>

    <div class="locations-grid">
      <% @locations.each do |location| %>
        <%= render "locations/card", location: location %>
      <% end %>
    </div>
  </section>
  <div class="global-overlay"></div>
</div>
