<!DOCTYPE html>
<html>
  <head>
    <title>Skauter - Albania's Film Hub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# IntlTelInput %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js" %>

    <%# Google Fonts %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <%# IOS top %>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#ffffff" data-theme="day">


    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => lucide.createIcons())
    </script>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      document.addEventListener("turbo:load", () => {
        if (window.lucide) {
          lucide.createIcons()
        }
      })
    </script>

    <%# Mapbox %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet"/>

    <style>
      body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(<%= asset_path('hero-image-2.png') %>);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.9;
        z-index: -1;
        pointer-events: none;
      }

      body {
        position: relative;
        z-index: 0;
        font-family:"helvetica";
      }
    </style>
  </head>

  <body data-controller="theme slideshow lightbox scroll-to-search">
    <%# <div class="status-bar-fill"></div> %>

    <div class="slideshow" data-slideshow-target="panel">

      <div class="slideshow_links">
        <%= link_to "Explore", regions_path %>
        <%= link_to "List Venue", list_venue_path %>

        <% if user_signed_in? %>

          <% if current_user.admin? %>
            <%= link_to "Locations", admin_locations_path, class: "link-navbar" %>
            <%= link_to "Counties", admin_counties_path, class: "link-navbar" %>
          <% end %>

          <%= link_to "My Favorites", favorites_path, class: "navbar-link" %>
          <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete } %>
        <% else %>

          <a href="#hero-search" class="btn btn-navbar btn-gold-shimmer" data-action="click->scroll-to-search#go" style="font-size:1rem">
            Get Started
          </a>
          <div class="d-flex gap-1 mt-5">
            <%= link_to "Sign In", new_user_session_path  %>
            <%= link_to "Sign Up", new_user_registration_path %>
          </div>
          <%= image_tag "logo.png", width:'150px' %>

        <% end %>

      </div>
    </div>

    <% if user_signed_in? && current_user.admin?%>
      <%= render "shared/admin_navbar" %>
    <% else %>
      <%= render "shared/navbar" %>
    <% end %>

    <%= render "shared/flashes" %>

    <%= yield %>

    <div id="lightbox"
        data-lightbox-target="overlay"
        data-action="click->lightbox#closeOverlay"
        hidden>

      <%# <button class="lightbox-close"
              data-action="click->lightbox#stop click->lightbox#close">×</button> %>

      <button class="lightbox-arrow left"
              data-action="click->lightbox#stop click->lightbox#prev">‹</button>

      <div class="lightbox-track"
          data-lightbox-target="track"></div>

      <button class="lightbox-arrow right"
              data-action="click->lightbox#stop click->lightbox#next">›</button>
    </div>
    <div class="hero__overlay"></div>
  </body>
</html>
